<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="phx-mro-root" title="MRO" order="-1000" icon="fa-pencil-square-o"
    icon-background="pink"/>

  <menuitem name="phx-mro-abc" title="ABC" parent="phx-mro-root" action="action.mro.view.abc" order="-1000"/>
  <action-view name="action.mro.view.abc" title="ABC"> <view type="html" name="oauth2/abc"/></action-view>

  <menuitem name="phx-mro-Login" title="Login" parent="phx-mro-root" action="action.mro.view.login" order="100"/>
  <action-view name="action.mro.view.login" title="Login"> <view type="html" name="oauth2/login"/></action-view>

  <menuitem name="phx-mro-xyz" title="XYZ" parent="phx-mro-root" action="action.mro.view.xyz" order="100"/>
  <action-view name="action.mro.view.xyz" title="Login"> <view type="html" name="oauth2/xyz"/></action-view>

</object-views>
